[submodule "MikouMouk/vendor/spdlog"]
	path = MikouMouk/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "MikouMouk/vendor/GLFW"]
	path = MikouMouk/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
